/*!*************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/app.scss ***!
  \*************************************************************************************************************************************************/
h1 {
  font-size: 2em;
  transition: all 0.3s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
h1:hover {
  transform: translateX(50px);
  color: red;
}

.bg {
  background-image: url(images/favicon.png);
  background-size: cover;
  width: 100px;
  height: 100px;
}
